<a href="https://colab.research.google.com/github/misioskyyy/codingGigants/blob/main/titanic_zad_dom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

df = sns.load_dataset('titanic')
print(df.head(100))

    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0          0       3    male  22.0      1      0   7.2500        S   Third
1          1       1  female  38.0      1      0  71.2833        C   First
2          1       3  female  26.0      0      0   7.9250        S   Third
3          1       1  female  35.0      1      0  53.1000        S   First
4          0       3    male  35.0      0      0   8.0500        S   Third
..       ...     ...     ...   ...    ...    ...      ...      ...     ...
95         0       3    male   NaN      0      0   8.0500        S   Third
96         0       1    male  71.0      0      0  34.6542        C   First
97         1       1    male  23.0      0      1  63.3583        C   First
98         1       2  female  34.0      0      1  23.0000        S  Second
99         0       2    male  34.0      1      0  26.0000        S  Second

      who  adult_male deck  embark_town alive  alone
0     man        True  NaN  Southampton    no  False
1   woman       False    C    Cherbourg   yes  False
2   woman       False  NaN  Southampton   yes   True
3   woman       False    C  Southampton   yes  False
4     man        True  NaN  Southampton    no   True
..    ...         ...  ...          ...   ...    ...
95    man        True  NaN  Southampton    no   True
96    man        True    A    Cherbourg    no   True
97    man        True    D    Cherbourg   yes  False
98  woman       False  NaN  Southampton   yes  False
99    man        True  NaN  Southampton    no  False

[100 rows x 15 columns]

In [ ]:
#niska (1/3 - rozbieznosci)
#srednia (2/3-robierznosc)
#wysoka (3/3-rozbirnozśc)

def categorize_fare(fare, fare_ranges):
  if(fare<=fare_ranges[0]):
    return 0
  elif(fare>fare_ranges[0] and fare<=fare_ranges[1]):
    return 1
  else:
    return 2

min_fare = df['fare'].min()
max_fare = df['fare'].max()

fare_step = (max_fare - min_fare) / 3
#print(fare_step)
fare_ranges = [min_fare + fare_step, min_fare + 2 * fare_step]
#print(fare_ranges)

print("Przedziały cenowe biletów:")
print(f"Niska: {min_fare} - {fare_ranges[0]}")
print(f"Średnia: {fare_ranges[0]} - {fare_ranges[1]}")
print(f"Wysoka: {fare_ranges[1]} - {max_fare}")

Przedziały cenowe biletów:
Niska: 0.0 - 170.7764
Średnia: 170.7764 - 341.5528
Wysoka: 341.5528 - 512.3292

In [ ]:
# selekcja cech - krok 4

# sex - płec
# age - wiek
# fare_range - wskaznik statusu ekonomicznego (nowy, nasz autorski!!!!!)
# pclass - bezpośredni dostep do łodzi ratunkowych

selected_feature = ['sex', 'age', 'pclass', 'fare_range']
df_model = df.copy()
df_model['sex'] = df_model['sex'].map({'male': 0, 'female': 1})
df_model['fare_range'] = df_model['fare'].apply(lambda x: categorize_fare(x, fare_ranges))



X = df_model[selected_feature]
y = df_model['survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Remove rows with NaN values from training and testing data
X_train = X_train.dropna()
y_train = y_train[X_train.index]  # Align y_train with X_train after dropna
X_test = X_test.dropna()
y_test = y_test[X_test.index]    # Align y_test with X_test after dropna

In [ ]:
# trenownaie modelu
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.8169014084507042

In [ ]:
# 7 analiza metryk

y_pred = model.predict(X_test)

# 7 analiza metryk
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)


print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")
print("Classification Report:\n", classification_rep)

Accuracy: 0.8169014084507042
Precision: 0.7962962962962963
Recall: 0.7413793103448276
F1-score: 0.7678571428571429
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.87      0.85        84
           1       0.80      0.74      0.77        58

    accuracy                           0.82       142
   macro avg       0.81      0.81      0.81       142
weighted avg       0.82      0.82      0.82       142

In [ ]:
# interaktywne prognozowanie